
#login-header {
    background: #fff;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr 4rem;
    height: 100vh;
    max-height: 100vh;
}
#login-header section {
    padding: 1rem;
}
#login-header #logo {
    cursor: pointer;
    width: 3rem;
    height: auto;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
#login-header #profile {
    vertical-align: middle;
}
#login-header #profile-picture {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    margin-right: 0.4rem;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-image: url('/static/img/profile.svg');
}
#login-header #user-name {
    display: inline-block;
    font-size: 0.85rem;
}



#section-login {

}
#section-login input, #section-login .submit {
    width: 15rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
}
#section-login .back, #div-sign-up .back {
    padding-top: 1rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 15rem;
    border-top: 0.06rem solid #cecece;
}
#section-login .back button, #div-sign-up .back button {
    width: 15rem;
    border: 0;
    padding: 0;
}
#section-login .back button:hover,  #div-sign-up .back button:hover {
    background: none;
    color: #E55A5A;
}
#section-login .tag {
    font-size: 0.8rem;
    margin: 0.7rem auto;
    width: 15rem;
}
#section-login #tag-community {
    margin-top: 1.5rem;
}


#page-login, #page-sign-up, #page-welcome {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 6rem 0;
    height: 100%;
    background: rgb(229,90,90);
    background: -moz-linear-gradient(left,  rgba(229,90,90,0.85) 0%, rgba(255,165,57,0.85) 100%);
    background: -webkit-linear-gradient(left,  rgba(229,90,90,0.85) 0%,rgba(255,165,57,0.85) 100%);
    background: linear-gradient(to right,  rgba(229,90,90,0.85) 0%,rgba(255,165,57,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55a5a', endColorstr='#ffa539',GradientType=1 );
    vertical-align: middle;
}


#page-login #logo {
    width: 4rem;
    height: auto;
    margin-bottom: 4rem;
}

#div-sign-up {
    width: 17rem;
    vertical-align: middle;
    position: relative;
    padding: 2.5rem;
}
#div-sign-up .row {
    margin: 0.5rem auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#div-sign-up input {
    width: 15rem;
}
#div-sign-up select, #div-sign-up #signup_submit {
    width: 17rem;
}


#page-login .division {
    height: 1px;
    margin: 2rem auto;
    width: 17rem;
    background: #cecece;
}
#page-login .row.title {
    text-align: left;
    padding-left: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}




#page-sign-up .tabs {
    box-sizing: border-box;
    margin-top: 1rem;
}
#page-sign-up .tab {
    box-sizing: border-box;
    display: inline-block;
    background: #fff;
    border: 0.06rem solid #cecece;
    border-radius: 0.25rem 0 0 0.25rem;
    padding: 0.6rem 1rem;
    margin: 0;
    border-collapse: collapse;
    background: none;
    cursor: pointer;
    width: 8.5rem;
    font-size: 0.8rem;
    color: #474747;
    border-collapse: collapse;
}
#page-sign-up .tab:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}
#page-sign-up .tab:hover {

}
#page-sign-up .tab-now {
    border: 0.06rem solid #E55A5A !important;
    color: #E55A5A;
}
#page-sign-up .tab-now:hover {

}
#page-sign-up .tab-content {
    display: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#page-sign-up .tab-content-now {
    display: block;
}
#page-sign-up .submit {
    margin-top: 1rem;
}



#div-welcome {
    width: 30rem;
    vertical-align: middle;
    position: relative;
    padding: 2.5rem;
}
#div-welcome p {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}
#div-welcome #dear {
    margin-bottom: 1rem;
}
#div-welcome #name {
    font-weight: 600;
}
#div-welcome #email {
    color: #E55A5A;
    font-weight: 600;
}
#div-welcome #sign-in {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1.5rem;
}


#link-sign-up {
    display: none;
}
#copyright {
    text-align: left;
    font-size: 0.7rem;
    color: #7a7a7a;
    bottom: 0;
}





@media all and (max-width: 800px) {
}

@media all and (max-width: 600px) {

#login-header {
    z-index: 10;
    display: block;
    height: 100vh;
    max-height: 100vh;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
}
#login-header section {
    padding: 1rem;
}
#login-header #section-login {
    padding-top: 2rem !important;
}
#login-header #logo {
    cursor: pointer;
    width: 3rem;
    height: auto;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
#login-header #profile {
    vertical-align: middle;
}
#login-header #profile-picture {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    margin-right: 0.4rem;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-image: url('/static/img/profile.svg');
}
#login-header #user-name {
    display: inline-block;
    font-size: 0.85rem;
}



#page-login, #page-sign-up, #page-welcome {
    margin: 0 auto;
    padding: 3rem 0;
    height: auto;
    background: rgb(229,90,90);
    background: -moz-linear-gradient(left,  rgba(229,90,90,0.85) 0%, rgba(255,165,57,0.85) 100%);
    background: -webkit-linear-gradient(left,  rgba(229,90,90,0.85) 0%,rgba(255,165,57,0.85) 100%);
    background: linear-gradient(to right,  rgba(229,90,90,0.85) 0%,rgba(255,165,57,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55a5a', endColorstr='#ffa539',GradientType=1 );
    vertical-align: middle;
}
#page-sign-up, #page-welcome {
    padding: 6rem 0;
    height: 100vh;
    max-height: 100vh;
}

#div-sign-up {
    width: 15rem;
    vertical-align: middle;
    position: relative;
    padding: 2.5rem;
}
#div-sign-up .row {
    margin: 0.5rem auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#div-sign-up input {
    width: 15rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#div-sign-up select, #div-sign-up #signup_submit {
    width: 15rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#div-welcome {
    width: 15rem;
    padding: 2.5rem;
}



}