#page-posts, #page-applications {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 100%;
    background: rgb(229,90,90);
    background: -moz-linear-gradient(left,  rgba(229,90,90,0.85) 0%, rgba(255,165,57,0.85) 100%);
    background: -webkit-linear-gradient(left,  rgba(229,90,90,0.85) 0%,rgba(255,165,57,0.85) 100%);
    background: linear-gradient(to right,  rgba(229,90,90,0.85) 0%,rgba(255,165,57,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55a5a', endColorstr='#ffa539',GradientType=1 );
    vertical-align: middle;
}

#page-posts h1, #page-applications h1 {
    color: #fff;
    padding-top: 2rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
}
#page-posts #posts {
    padding: 1rem;
    margin: 0 auto;
    background: none;
}
#page-posts .job {
    background: #fff;
    border-radius: 0.5rem;
    width: 15rem;
    height: 21rem;
    margin: 0.5rem auto;
    cursor: pointer;
}
#page-posts .post {
    background: #fff;
    border-radius: 0.5rem;
    width: 15rem;
    height: 16rem;
    margin: 0.5rem auto;
    cursor: pointer;
}
#page-posts .post .date {
    padding: 0.8rem;
    padding-bottom: 0;
    font-size: 0.8rem;
    text-align: right;
}
#page-posts .post .title {
    font-size: 1rem;
    padding: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 1.3rem;
    font-weight: 600;
    overflow-x: hidden;
    white-space: nowrap;
}
#page-posts .post .day {
    color: #474747;
    font-size: 0.9rem;
    background: #cecece;
    border-radius: 0.25rem;
    margin: 0 auto;
    display: inline-block;
    padding: 0.3rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
#page-posts .post .day span {
    color: #aeaeae;
    margin-right: 0.2rem;
}
#page-posts .post .day .work {
    color: #252525;
}
#page-posts .post .time {
    font-size: 0.9rem;
    margin-top: 0.5em;
}
#page-posts .bottom {
    padding: 0.7rem 1rem;
    margin-top: 0.2rem;
    border-top: 0.06rem solid #cecece;
    font-size: 0.9rem;
    font-weight: 500;
}
#page-posts .bottom .status {
    float: left;
    text-align: left;
}
#page-posts .bottom .status.expired {
    color: #aaa;
}
#page-posts .bottom .pending {
    float: right;
    text-align: right;
    color: #FFA539;
}


#page-applications #applications {
    padding: 1rem;
    margin: 0 auto;
    background: none;
}
#page-applications .div-form {
    display: grid;
    grid-template-columns: 16.5rem 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#page-applications .div-job {
    vertical-align: top;
}
#page-applications .job {
    margin: 0.5rem;
    margin-left: 1rem;
    cursor: default;
}
#page-applications .job:hover {
    transform: none;
}
#page-applications .div-application {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#page-applications .application {
    background: #fff;
    border-radius: 0.5rem;
    min-height: 19.5rem;
    margin: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    cursor: default;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#page-applications .div-status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    margin-bottom: 2rem;
}
#page-applications .status {
    display: inline-block;
    padding: 1rem;
    text-align: left;
    color: #FFA539;
}
#page-applications .status.accepted {
    color: #E55A5A;
}
#page-applications .status.declined {
    color: #7a7a7a;
}
#page-applications .application-date {
    display: inline-block;
    padding: 1rem;
    text-align: right;
}
#page-applications .questions {
    padding: 2rem;
    padding-top: 0;
}
#page-applications .question {
    font-weight: 600;
}
#page-applications .answer {
    font-weight: 400;
}



#page-posts .empty-list, #page-applications .empty-list {
    margin: 1rem;
    color: #eee !important;
}






#page-profile {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 100%;
    vertical-align: middle;
    background: #fff;
}
#page-profile #div-picture {
    margin: 0 auto;
    padding: 2rem;
    height: 10rem;
    background: rgb(229,90,90);
    background: -moz-linear-gradient(left,  rgba(229,90,90,0.85) 0%, rgba(255,165,57,0.85) 100%);
    background: -webkit-linear-gradient(left,  rgba(229,90,90,0.85) 0%,rgba(255,165,57,0.85) 100%);
    background: linear-gradient(to right,  rgba(229,90,90,0.85) 0%,rgba(255,165,57,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55a5a', endColorstr='#ffa539',GradientType=1 );
    vertical-align: middle;
    overflow-y: visible;
}
#page-profile #div-picture h1 {
    color: #fff;
}
#page-profile #preview-picture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 0;
    margin-top: 4rem;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-image: url('/static/img/profile.svg');
}


#page-profile #div-profile {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    vertical-align: middle;
    padding: 2rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
#page-profile .row {
    margin: 0 auto 1rem auto;
    width: 26rem;
    box-sizing: border-box;
}
#page-profile textarea, #page-profile input {
    width: 20rem;
}
#page-profile select, #page-profile .submit {
    width: 22rem;
}
#page-profile .submit {
    margin-top: 1.5rem;
}

#page-profile #div-footer {
    background: #7a7a7a;
    padding: 3rem;
    text-align: left;
    font-size: 0.8rem;
    color: #cecece;
}

#page-profile #div-sign-out {
    border-radius: 50rem;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    padding-top: 0.65rem;
    text-align: center;
    float: right;
    cursor: pointer;
    text-transform: none;
    font-size: 0.8rem;
    color: #474747;
    margin-top: -0.4rem;
    margin-right: -0.3rem;
}
#page-profile #sign-out {
    width: 0.9rem !important;
    height: auto;
    vertical-align: middle;
    margin-left: 0.5rem;
    margin-top: -0.15rem;
}

