<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>



{% block content %}

{% endblock %}


<div class="alert">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert" role="alert">
                <div>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
</div>

<footer>
</footer>



</body>
</html>