{% extends 'base.html' %}

{% block title %}52CO{% endblock %}

{% block content %}

<div id="page-login" class="align--center">
    <div id="div-sign-up" class="box">
        <h1>Sign Up as Community</h1>
        <form method="POST">
            {{ signup_form.csrf_token }}
            <div class="row">{{ signup_form.name(placeholder="Name", class="") }}</div>
            <div class="row">{{ signup_form.email(placeholder="Email Address", class="") }}</div>
            <div class="row">{{ signup_form.password(placeholder="Password", class="") }}</div>
            <div class="row">{{ signup_form.cpassword(placeholder="Confirm Password", class="") }}</div>
            <div class="row">{{ signup_form.signup_submit(class_='submit') }}</div>
        </form>
    </div>
</div>

{% endblock %}