{% extends 'base.html' %}

{% block title %}52CO{% endblock %}

{% block content %}

<div id="page-sign-up" class="align--center">
    <div id="div-sign-up" class="box">
        <h1>Profile Information</h1>
        <form method="POST">
            {{ signup_form.csrf_token }}
            <div class="row">{{ signup_form.gender(class="") }}</div>
            <div class="row">{{ signup_form.contact(placeholder="Phone (123-456-7890)", class="") }}</div>
            <div class="row">{{ signup_form.birth(placeholder="Date of Birth (mm/dd/yyyy)", class="") }}</div>
            <div class="row">{{ signup_form.signup_submit(class_='submit') }}</div>
        </form>
    </div>
</div>

<script>


</script>

{% endblock %}