{% extends 'base.html' %}

{% block title %}52CO{% endblock %}

{% block content %}

<div id="page-welcome" class="align--center">
    <div id="div-welcome" class="box">
        <h1>Welcome to FiveTwo</h1>
        <p>On behalf of the FiveTwo company, we would like to thank you for registering to FiveTwo.</p>
        <p>Please proceed by verifying your email address <span id="email">{{ email }}</span>.</p>
        <p>Once you successfully verify your email address, you will be able to use all features of FiveTwo.</p>
        <p>Thank you.</p>
    </div>
</div>



{% endblock %}